@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root{
    --primary-color: #7bc3ef;
    --secondary-color: #98afb0;
    --accent1-color: #3b6c7a;

    --heading-font:'Libre Baskerville', Serif;
    --paragraph-font:'Libre Baskerville', Serif;

    --nav-background-color: #3b6c7a;
    --nav-link-color: #98afb0;
    --nav-hover-link-color: #98afb0;
    --nav-hover-background-color: #3b6c7a;
}

*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p{
    padding: 20px;
}

a{
    color: var(--primary-color);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header h1 {
    margin: 0 0 20px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #3b6c7a;
    width: 100%;
}
nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #575757;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    background-color: var(--accent1-color);
    margin-top: 20px;
    border-radius: 8px;
    align-items: center;
}

.card {
    width: 100%;
    max-width: 2000px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Cambié el color de fondo a blanco */
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: block; /* Asegura que la imagen se muestre como bloque */
}

.card h2 {
    margin-top: 0;
    color: var(--secondary-color);
}

footer{
    text-decoration: none;
    display: flex; 
    align-items: center; 
    padding: 20px; 
    background: linear-gradient(to left, #7bc3ef, #98afb0, #3b6c7a);
}

footer p{
    text-align: center;
}